@import "tailwindcss";

@layer utilities {
  .animate-shimmer {
    animation: shimmer 2s linear infinite;
  }
}

@keyframes shimmer {
  0% {
    background-position: 250% center;
  }
  100% {
    background-position: -250% center;
  }
}
